<div class="header-container">
    <header class="wrapper clearfix">
        <h1 class="title">Place your logo here!</h1>
        <nav>
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Login", "Login", "Account")</li>
            </ul>
        </nav>
    </header>
</div>