@* HTML Header *@
@Html.Partial("_LayoutHeader")

<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

@* Navigation *@
@Html.Partial("_LayoutNavigation")

        <div class="main-container">
            <div class="main wrapper clearfix">
                @RenderBody()
            </div> <!-- #main -->
        </div> <!-- #main-container -->

@* HTML Header *@
@Html.Partial("_LayoutFooter")